.custom-modal .modal-content {
    background-color: darkgreen; /
    color: Green; 
  }
  
  .custom-modal .modal-header {
    border-bottom: darkgreen;
  }
  
  .custom-modal .modal-footer {
    border-top: darkgreen;
  }
  
  .custom-modal .modal-title {
    color: white;
    font-weight: bolder;
  }
 
  .custom-modal .modal-body {
    color: white;
  }
  /*test*/