:root {
  --font-colour: white;
  --link-colour: #458532;
  --danger-colour: #DD5147;
  --shadow: #404040;
  --angle: 8px;
  --angle-o: 4px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
}

button {
  cursor: pointer;
  border: none; /* Removes default styling from button elements */
  color: var(--font-colour);
  background-color: green;
  font-weight: bold;
}

.btn {
  background-color: var(--link-colour);
  color: var(--font-colour);
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 2rem;
  border-radius: 2rem;
}

.btn:hover {
  background-color: var(--font-colour);
  color: var(--link-colour);
  border: var(--link-colour) 1rem solid;
}


/* Start of navigation bar styling */
.navbar {
  padding: 1rem;
}

.nav-link {
  margin-right: 1.25rem; /* Creates space between navigation links */
}

.nav-link:hover {
  color: var(--link-colour);
}

.logout {
    display: flex;
    align-items: center;
}

#logoutText {
  color: var(--danger-colour);
}
/* End of navigation bar styling */


/* Start of logout modal styling */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  background-color: var(--font-colour);
  font-weight: bold;
  padding: 1.25rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  max-width: 31.25rem;
  max-height: 80vh;
  overflow-y: auto; /* Adds scroll for overflow content */
}

.logout-btn {
  background-color: var(--danger-colour);
  margin: 1rem;
  margin-bottom: 2rem;
}

.logout-cancel {
  background-color: var(--font-colour);
  border: black 0.1rem solid;
  color: black;
}
/* End of logout modal styling */


/* Start of marquee styling */
marquee {
  background-color: #006543;
  color: var(--font-colour);
}

.marq-space {
  margin-left: 56.25rem; /* Creates space between each marquee element */
}

h6 {
  opacity: 75%;
  font-weight: bold;
}
/* End of marquee styling */


/* Start of button styling */
.col { /* Centers the buttons */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-wrapper {
  display: flex; /* Stacks button content (icons and text) vertically */
  align-items: center;
  justify-content: center;
  background-color: #54A051;
  margin-top: 100px;
  width: 400px;
  height: 400px; /* Ensure height is kept the same as width for a circlular shape */
  border-radius: 50%; /* Creates the circle shape */
  font-size: 2rem;
  border: 10px solid rgba(255, 255, 255, 0.5);
  box-shadow: 15px 15px 3px 0 var(--shadow);
  transition: all .15s linear 0s;

}

/* Start of button animation styling */
.circle-wrapper::before { 
  top: -10px; /* Removes the diamond-shape border elements that appear */
}

.circle-wrapper:hover {
  top: 3px;
  left: -3px;
  box-shadow: 3px 3px 0 10px var(--shadow);
}

.circle-wrapper:hover::after {
  top: 1px;
  left: -2px;
  width: var(--angle-o);
  height: var(--angle-o);
}

.circle-wrapper:hover::before {
  bottom: -2px;
  right: 1px;
  width: var(--angle-o);
  height: var(--angle-o);
}

.circle-wrapper::after {
  transition: all .15s linear 0s;
  content: '';
  position: absolute;
  top: 2px;
  left: -4px;
  width: var(--angle);
  height: var(--angle);
  background-color: var(--shadow);
  transform: rotate(45deg);
  z-index: -1;
}

.circle-wrapper::before {
  transition: all .15s linear 0s;
  content: '';
  position: absolute;
  bottom: -4px;
  right: 2px;
  width: var(--angle);
  height: var(--angle);
  background-color: var(--shadow);
  transform: rotate(45deg);
  z-index: -1;
}

a.circle-wrapper { position: relative; }

a:active.circle-wrapper {
  top: 6px;
  left: -6px;
  box-shadow: none;
}

a:active.circle-wrapper::before {
  bottom: 1px;
  right: 1px;
}

a:active.circle-wrapper::after {
  top: 1px;
  left: 1px;
}
/* End of button animation styling */

.content-wrapper {
  display: flex; /* Aligns items horizontally within the circle */
  align-items: center; /* Centers items vertically within the content wrapper */
  color: var(--font-colour);
}

#notBtn {
  background-color: var(--danger-colour);
}

#notBtn span {
  margin-left: 20px; /* Space between icon and text */
}

.circle-wrapper img {
  max-width: 150px;
  margin-bottom: 1rem; /* Space between image and text */
}

@media only screen and (max-width: 500px) {
  .circle-wrapper {
    margin-top: 50px;
    width: 100px; /* Smaller width */
    height: 100px; /* Smaller height to maintain circle shape */
    font-size: 0.7rem;
    border: 5px solid rgba(255, 255, 255, 0.5); /* Thinner border */
    box-shadow: 8px 8px 3px 0 var(--shadow);
    }

    .content-wrapper {
      flex-direction: column; /* Changes the button content structure to a column layout for smaller screens */
    }

    #notBtn span {
      margin-left: 0;
    }

    .icon {
      width: 25%;
    }

    .btn {  /* Scales down buttons for smaller screens */
      padding: 1rem;
      font-size: 0.5rem;
    }
  }
/* End of button styling */


/* Start of score styling */
#score {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  width: fit-content; /* Shrinks the div */
  margin: 10rem auto 10rem auto;
  padding: 20px;
}

#gaCount {
  color: #99CC00;
  font-size: 3rem;
}

#ngaCount {
  color: #F35959;
  font-size: 3rem;
}

.undo {
  background-color: var(--danger-colour);
  margin-bottom: 2rem;
}

.undo:hover {
  color: var(--danger-colour);
  border: var(--danger-colour) 0.1rem solid;
}

#total {
  font-size: 2rem;
}
/* End of score styling */

/* Fullscreen button positioning */
#fullscreenBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

/* Start of table styling */
#localScores {
  padding: 20px;
}

#header {
  background-color: #458532;
  color: var(--font-colour);
}

#trophyWrapper {
  display: flex;
  align-items: center;
}

#btnFlex { /* Positions the print table button to the right */
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

/* Removes print button, marquee, and navbar from page when table is printed. */
@media print {
  button, marquee, nav {
      visibility: hidden;
  }
}
/* End of table styling */

/* Start of screensaver styling */
#screensaverText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: green;
  display: none;
}
#content {
  padding: 20px;
}
.screensaver-active {
  background-color: black;
}
/* End of screensaver styling */
/* start of description styling */
.with-border {
  border: 2px solid #ffffff; /* border thickness and colour
  padding: 20px; /* Optional: Add padding to the section */
}

.spread-box {
  display: flex;
  justify-content: center;
}

.box {
  width: 250px; /* Adjust the width of the box */
  height: 150px; /* Adjust the height of the box */
  background-color: #99CC00; /* Example background color */
  margin: 10px; /* Optional: Adjust the margin between boxes */
  border-radius: 15px; /* Adjust the border radius to make the boxes more curved */
}

.box {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box img {
  max-width: 100%;
  max-height: 100%;
}

/* Optional: to add spacing around the images */
.box-image {
  padding: 10px;
}
