:root {
  --font-colour: white;
  --link-colour: #458532;
  --danger-colour: #DD5147;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

button {
  cursor: pointer;
  border: none; /* Removes default styling from button elements */
  color: var(--font-colour);
  background-color: transparent;
  font-weight: bold;
}

.btn {
  background-color: var(--link-colour);
  color: var(--font-colour);
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
}

.btn:hover {
  background-color: var(--font-colour);
  color: var(--link-colour);
  border: var(--link-colour) 0.1rem solid;
}


/* Start of navigation bar styling */
.navbar {
  padding: 1rem;
}

.nav-link {
  margin-right: 1.25rem; /* Creates space between navigation links */
}

.nav-link:hover {
  color: var(--link-colour);
}

.logout {
    display: flex;
    align-items: center;
}

#logoutText {
  color: var(--danger-colour);
}
/* End of navigation bar styling */

/* Start of logout modal styling */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  background-color: var(--font-colour);
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto; /* Adds scroll for overflow content */
}

.logout-btn {
  background-color: var(--danger-colour);
  margin: 1rem;
  margin-bottom: 2rem;
}

.logoutCancel {
  background-color: var(--font-colour);
  border: black 0.1rem solid;
  color: black;
}
/* End of logout modal styling */


/* Start of marquee styling */
marquee {
  background-color: #99CC00;
  color: var(--font-colour);
}

.marqSpace {
  margin-left: 56.25rem; /* Creates space between each marquee element */
}

h6 {
  opacity: 75%;
  font-weight: bold;
}
/* End of marquee styling */


/* Start of button styling */
.col { /* Centers the buttons */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-wrapper {
  display: flex; /* Stacks button content (icons and text) vertically */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #54A051;
  margin-top: 100px;
  width: 400px;
  height: 400px; /* Ensure height is kept the same as width for a circlular shape */
  border-radius: 50%; /* Creates the circle shape */
  font-size: 2rem;
  box-shadow: 0 0 10px #454545;
  border: white solid 10px;
}

.content-wrapper {
  display: flex; /* Aligns items horizontally within the circle */
  align-items: center; /* Centers items vertically within the content wrapper */
  color: var(--font-colour);
}

#notBtn {
  background-color: var(--danger-colour);
}

#notBtn span {
  margin-left: 20px;
}

.circle-wrapper img {
  max-width: 150px;
  margin-bottom: 1rem; /* Space between image and text */
}
/* End of button styling */


/* Start of score styling */
#score {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  width: fit-content; /* Shrinks the div */
  margin: 10rem auto 10rem auto;
  padding: 20px;
}

#gaCount {
  color: #99CC00;
  font-size: 3rem;
}

#ngaCount {
  color: #F35959;
  font-size: 3rem;
}

.undo {
  background-color: var(--danger-colour);
  margin-bottom: 2rem
}

.undo:hover {
  color: var(--danger-colour);
  border: var(--danger-colour) 0.1rem solid;
}
/* End of score styling */


/* Start of table styling */
.localScores {
  padding: 20px;
}

#header {
  background-color: #458532;
  color: white;
}

#btnFlex { /* Positions the print table button to the right */
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

/* Removes print button, marquee, and navbar from page when table is printed. */
@media print {
  button, marquee, nav {
      visibility: hidden;
  }
}
/* End of table styling */

/* Start of screensaver styling */
#screensaver-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: green;
  display: none;
}
#content {
  padding: 20px;
}
.screensaver-active {
  background-color: black;
}
/* End of screensaver styling */



/* KEEP THESE HERE FOR NOW STYLING THE SKELETON */
.data-table {
  border-collapse: collapse;
  width: 100%;
}

.data-table th, .data-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
    min-height: 100%;
    padding-bottom: 100px;
  }